*{
	margin-top: 10px;
}
.rectangle {
  width: 370px;
  margin: 50px auto;
}
input:invalid+span:after {
  content: '✖';
  color: red;
}

input:valid+span:after {
  content: '✓';
  color: green;
}

.rectangle__calc{
	margin-left: 42px;
}
.rectangle__perimeter,.rectangle__area{
	background-color: #D8D8D8;
}